*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
*::selection{
	background: #baffea;
	color: #111215;
}

::-webkit-scrollbar{
	width: 3px;
	background: #123123;
}

::-webkit-scrollbar-thumb{
	background-color: #827;
}

:root {  }

*/
@font-face{
    font-family: 'open-sans';
    src: url('../fonts/open-sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'open-sans';
    background-color: #000;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width <= 620px){

}
